<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this template, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<f:view xmlns="http://www.w3.org/1999/xhtml"
          xmlns:h="http://java.sun.com/jsf/html"
          xmlns:f="http://java.sun.com/jsf/core"
          xmlns:ui="http://java.sun.com/jsf/facelets">
    <html>
        <h:body>
            <h:panelGrid columns="2">
                <h:graphicImage  url="/images/logoCibertec.jpg" 
                                 alt="CIBERTEC - DAT" 
                                 height="100px"/>

                <h:outputText style="text-align: center; font-size: 36px;" 
                              value="Java Master Developer"/>
            </h:panelGrid>
        </h:body>
    </html>
</f:view>