<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">
    <f:view locale="#{facesContext.externalContext.requestLocale}" >
        <h:head>
            <title>#{msjs.titulo_principal}</title>
        </h:head>
        <h:body>
            <h1>#{msjs.titulo_principal}</h1>

            <h:form>
                <p:panelGrid columns="2">
                    <p:outputLabel value="#{msjs.form_usuario}" />
                    <p:inputText value="#{login.username}" />
                    <p:outputLabel value="#{msjs.form_contrasena}" />
                    <p:password value="#{login.password}" 
                                feedback="true" 
                                promptLabel="#{msjs.mensaje_contrasena}"/>
                    <f:facet name="footer">
                        <p:commandButton action="#{login.autenticar}" value="#{msjs.form_boton_ingresar}"
                                         update="msgLogin"
                                         ajax="false"/>
                    </f:facet>
                    <p:messages id="msgLogin" />
                </p:panelGrid>
            </h:form>


        </h:body>
    </f:view>
</html>

