<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this template, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<f:view xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets">
    <h:head>
    </h:head>
    <h:body>
        <ui:composition template="/plantillas/layout.xhtml">
            <ui:define name="body">
                <h:outputFormat value="#{msjs.mensaje_bienvenida}" >
                    <f:param value="#{login.username}" />
                </h:outputFormat>
                <h3>#{msjs.titulo_opciones}</h3>
            </ui:define>
        </ui:composition>
    </h:body>
</f:view>
