<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets">
    <h:head>
        
    </h:head>
    <h:body>
        <ui:composition template="/plantillas/layout.xhtml">
            <ui:define name="body">
                <h:outputText value="#{reporte.titulo}" />
            </ui:define>
        </ui:composition>
    </h:body>
</html>

