<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this template, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets">
    <h:head>
        
    </h:head>
    <h:body>
        <ui:composition template="/plantillas/layout.xhtml">
            <ui:define name="body">
                <h:form>
                    <h:panelGrid bodyrows="11" columns="2" >
                        <h:outputLabel value="Nombre:" />
                        <h:inputText value="#{clienteBean.cliente.nombre}" />
                        <h:outputLabel value="Apellido:" />
                        <h:inputText value="#{clienteBean.cliente.apellido}" />
                        <h:outputLabel value="Genero:" />
                        <h:selectOneRadio value="#{clienteBean.cliente.genero}" disabled="true" >
                            <f:selectItem itemValue="M" itemLabel="Masculino" />
                            <f:selectItem itemValue="F" itemLabel="Femenino" />
                        </h:selectOneRadio>
                        <h:outputLabel value="Profesion:" />
                        <h:selectOneListbox value="#{clienteBean.cliente.profesion}" size="1"  disabled="true">
                            <f:selectItem itemValue="001" itemLabel="Arquitecto" />
                            <f:selectItem itemValue="002" itemLabel="Ingeniero" />
                        </h:selectOneListbox>
                        <h:outputLabel value="Numero Movil:" />
                        <h:inputText value="#{clienteBean.cliente.numeroMovil}" />
                        <h:outputLabel value="Desea recibir publicidad?:" />
                        <h:selectBooleanCheckbox value="#{clienteBean.cliente.publicidad}" disabled="true" />
                        <h:outputLabel value="Correo Electronico:" />
                        <h:inputText value="#{clienteBean.cliente.correoElectronico}" />
                        <h:outputLabel value="DNI:" />
                        <h:inputText value="#{clienteBean.cliente.numeroDocumento}" />
                        <h:outputLabel value="Cantidad Hijos:" />
                        <h:inputText value="#{clienteBean.cliente.cantidadHijos}" />
                        <h:outputLabel value="Fecha de Nacimiento:" />
                        <h:outputText value="#{clienteBean.cliente.fechaNacimiento}" >
                            <f:convertDateTime dateStyle="long" />
                        </h:outputText>
                        <h:commandButton value="Registrar" action="#{clienteBean.registrar}" />
                    </h:panelGrid>
                </h:form>
            </ui:define>
        </ui:composition>
    </h:body>
</html>

